.container{
  margin-bottom: 100px;
}
.banner-bd{
  background: #fceae8;
  border-radius: 10px;
}
.carousel-item{
  padding: 20px  40px;
}
.price{
  color: rgb(233, 104, 104);
}
.buy-button{
  background: rgb(148, 13, 13);
  color: #fff;
  font-size: 18px;
  padding: 9px 25px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.cat1,.cat2, .cat3{
  padding: 10px 30px;
  border-radius: 10px;
}
.cat1{
  background: orange;
}
.cat2{
  background: orchid;
}
.cat3{
  background: blue;
}
 
.catagori h1{
  color: #fff;

}
.catagori img{
 width: 100px;
}
.card{
  border: none;
  box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
  background-color: #fff;
}
#subcribe{
  height: 300px;
}
#subcribe h6{
  color: gray;
}
footer{
  text-align: center;
}